body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-image: url("rssitanala.jpg");
  background-size: cover;
  background-position: center;
}

#logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25%; /* Adjust the size */
  height: auto; /* Maintain aspect ratio */
  filter: drop-shadow(0 0 2px rgba(95, 95, 95, 0.8)) /* Black outline shadow */
    drop-shadow(0 0 10px rgba(255, 255, 255, 0.7)); /* White shadow for highlight */
}

#top-right-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25%; /* Adjust the size */
  height: auto; /* Maintain aspect ratio */
  filter: drop-shadow(0 0 2px rgba(95, 95, 95, 0.8)) /* Black outline shadow */
    drop-shadow(0 0 10px rgba(255, 255, 255, 0.7)); /* White shadow for highlight */
}

h1 {
  font-size: 4em; /* Make the text larger */
  text-align: center;
  color: rgb(242, 197, 107); /* Text color */
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7); /* Glow effect */
  animation: glow 1.5s ease-in-out infinite alternate,
    slideIn 1.5s ease-out forwards;
}

@keyframes glow {
  from {
    text-shadow: 0 0 3px rgb(171, 145, 39), 0 0 10px rgb(171, 145, 39),
      0 0 10px rgb(171, 145, 39);
  }
  to {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
      0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 60px; /* Adjust font size for mobile */
  }
  #logo {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 30%; /* Adjust the size */
    height: auto; /* Maintain aspect ratio */
    filter: drop-shadow(0 0 2px rgba(95, 95, 95, 0.8))
      /* Black outline shadow */ drop-shadow(0 0 10px rgba(255, 255, 255, 0.7)); /* White shadow for highlight */
  }
  #top-right-logo {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 20%; /* Adjust the size */
    height: auto; /* Maintain aspect ratio */
    filter: drop-shadow(0 0 2px rgba(95, 95, 95, 0.8))
      /* Black outline shadow */ drop-shadow(0 0 10px rgba(255, 255, 255, 0.7)); /* White shadow for highlight */
  }
}
